<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <script src="../phaser/phaser.js"></script>
    <script src="../lib.js"></script>
    <script>
			(function() {
                let game = new Phaser.Game(1280, 720, Phaser.AUTO, "content",undefined,false,false);
                
                Genesis.begin(game);

                game.state.add("Main",new Main());
                game.state.add("L1",new Level1());
                game.state.start("Main");
			})();  
    </script>
</head>
<body>
    <h1>TypeScript HTML App</h1>
    <h2>hey testing</h2>
    <div id="content"></div>
</body>
</html>