<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>TypeScript HTML App</title>
    <script src="../phaser/phaser.js"></script>
    <script src="../phaser/box2d-plugin-full.js"></script>
    <script src="../lib.js"></script>
    <script>
			(function() {
                let game = new Phaser.Game(1280, 720, Phaser.Auto, undefined,undefined,false,false);
                
                Genesis.begin(game);

                game.state.add("Main",new Main());
                game.state.add("L1",new Level1());
                game.state.start("Main");
			})();  
    </script>
    <style>
        body {
            margin: 0;
            text-align: center;
        }
    </style>
</head>
</html>